#App{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    text-align: center;
}

#section{
    display: flex;
    flex-direction: row;
}

#session, #break{
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: center;
}
.timer{
    margin: 4px;    
}

#session-length, #break-length{
    margin: auto 10px auto 10px;
}
#session-label, #break-label{
    margin: 10px auto 10px auto;
    font-size: 20px;
    width: 90%;

}