body{
    background-color: #bdfce7;
}
#App{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    text-align: center;
    align-items: center;
}

#section{
    display: flex;
    flex-direction: row;
    
}
#section div, #section2{
    background-color: azure;
    margin: 3%;
    border-radius: 10px;
}
#section2{
    width: 80%;
    margin: 0px;
    padding-bottom: 10px;
}

#session, #break{
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: center;
}
.timer{
    margin: 4px;    
}

#session-length, #break-length{
    margin: auto 10px auto 10px;
}
#session-label, #break-label{
    margin: 10px auto 10px auto;
    font-size: 20px;
    width: 90%;
}
#timer-label{
    margin-bottom: 0px;
}
#time-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 3%;
}

button:disabled {
    cursor: not-allowed;
}